@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 15px;
    background: rgb(157, 157, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    margin: 10px;
}

section {
    padding: 0px 15px;
    margin: auto;
    border-radius: 6px;
    width: auto;
    
}

#content {
    text-align: center;
    background: white;
    border-radius: 6px 6px 0px 0px;
    width: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.145);
    padding: 10px;
}

div#msg {
    padding: 15px;
    vertical-align: middle;
    margin-bottom: 15px;

}

div img {
    max-width: 300px;
    margin-bottom: 15px;
   

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    background: rgba(192, 105, 105, 0.914);
    padding: 15px;
    margin: 0px 15px;
    border-radius: 0px 0px 6px 6px;
    width: auto;
    vertical-align: top;

}